.header {
  display: relative;
}

.dark-mode__button-container {
  display: flex;
  justify-content: flex-end;
}

.dark-mode__button {
  width: 1.5rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey-scale-5);
  border-radius: var(--border-radius-1);
  background-color: transparent;
}

.dark-mode__button:hover {
  background-color: var(--grey-scale-5);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.75rem;
}

.title {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-6);
}

.taskForm,
.task__list-item {
  position: relative;
}

.input__task,
.task__list-item {
  width: 30.6875rem;
  height: 3.25rem;
  padding: 0.875rem 1.3125rem;
  border-radius: var(--border-radius-1);
  border: none;
  outline: none;
  font-size: var(--font-size-4);
  font-weight: var (--font-weight-3);
  line-height: var(--line-height-1);
  background-color: var(--grey-scale-6);
  color: var(--grey-scale-3);
}

.task__list-item {
  background-color: var(--grey-scale-5);
}

.submit__button,
.delete__button {
  height: 31px;
  padding: 0.3125rem 0.9375rem;
  position: absolute;
  top: 11px;
  right: 10px;
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-3);
  line-height: var(--line-height-1);
  border-radius: var(--border-radius-1);
  background-color: var(--color-brand-1);
  color: var(--grey-scale-6);
  transition: all 150ms ease-in-out;
}

.submit__button:hover {
  background-color: var(--color-brand-2);
}

.task__list {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.delete__button {
  background-color: var(--grey-scale-4);
  color: var(--grey-scale-2);
}

.delete__button:hover {
  background-color: var(--grey-scale-5);
}

.noTasks {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-3);
  line-height: var(--line-height-1);
}
